:root {
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-weight: 400;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

#covers {
  display: flex;
  align-items: center;
  perspective: 1000px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  height: 100svh;
  white-space: nowrap;
}

.cover-container {
  display: inline-block;
  perspective: 1000px;
  perspective-origin: center;
  overflow: visible;
  scroll-snap-align: center;
  line-height: 0;
  z-index: 100000;
}

.cover-img {
  box-shadow: 0 0 20px #000000ff;
}

div.cover-meta {
  display: flex;
  display: none;
  flex-direction: column;
  opacity: 0;
}

.cover-container.focused > div.cover-meta {
  opacity: 1;
}
